body {

   

}

button {
    display: block;
    padding: 12px 36px;
    background-color:lightblue;
    border: 2px dashed;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 500;
  
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 560px;
    gap: 12px;
}
p.main {
    margin-top: 12px;
   margin-left: 12px;
}