* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fafafa; */
  color: #212121;
  line-height: 1.5;
  background-color: #f9f9fd;

}

img {
  display: block;
  max-width: 100%;
}
/* ДЛЯ 3 ЧАСТИНИ */
/* p {
  transform: translateX(400%);
  transition: transform 250ms ease-in-out;

}
.alert {
  display: inline-block;
  padding: 24px;
  background-color: green;
  color: aliceblue;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;

}

.is-visible { 
  transform: translateX(0);
  transition: transform 250ms ease-in;

} */

/* 11-racetrack */
table {
  /* table-layout: fixed; */
  width: 50%;
  border-collapse: collapse;
  border: 3px solid purple;
 
}
thead {

  border: 3px solid purple;
  text-align: center;
}
table th,
table td {
  padding: 10px;
  border: 3px solid purple;
  text-align: center;
}

hr {
  border-color:brown;
}